<h2>Awesome Calculator</h2>
<div>
  <p><input type="text" class="form-input" [(ngModel)]="name"></p>
  <p><input type="number" class="form-input" [(ngModel)]="age"></p>
  <p><input type="text" class="form-input" [(ngModel)]="email"></p>
  <p>
    <select class="form-input" [(ngModel)]="gender">
      <option value="nam">nam</option>
      <option value="nu">nu</option>
    </select>
  </p>


</div>
<div>
  <button class="form-input" (click)="showprofile()">
    Thực thi
  </button>
</div>
<div class="output">
  <p>{{this.name}}</p> 
  <p>{{this.age}}</p> 
  <p>{{this.email}}</p> 
  <p>{{this.gender}}</p> 
  <br>
  {{output}}
</div>