<h2>Pet profile</h2>
<label>
    Pet name:
    <input type="text" [(ngModel)]=updateName>
</label>
<br >
<label>
    Pet image:
    <input type="url" (change)="updateImage($event.target.value)">
</label>
<br >
<h3>Pet name: {{petName}} {{this.updateName}}</h3>
<img [src]="petImage" style="max-width: 10%">

<h2>Color Picker</h2>
<div>
  <label>Chọn màu:</label>
  <input  type="color" [value]="background" (change)="onChange($event.target.value)">
</div>

<p>Output:</p>
<div class="color-preview" [style.background]="background"></div>