<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Project Done</h3>
    </div>
    <div class="panel-body container">
     
      <table class="table table-light" style="margin-top: 10px; max-width: 100%;">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Title</th>
            <th  class="text-center">Content</th>
            <th class="text-center">Status</th>
            <th class="text-center">Date</th>
            <th colspan="2" class="text-center">Action</th>
  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let project of projects; let i = index">
            <td class="text-center">{{ i+1 }}</td>
            <td class="text-center">
              {{ project.title }}
            </td>
            <td >
                <p style="max-width: 550px; word-wrap:break-word; text-align: center">{{ project.content }}</p>
            </td>
            <td class="text-center">
                {{ project.status ? "đã làm" : "chưa làm" }}
            </td>
            <td class="text-center">{{ project.finishdate }}</td>
            <td class="text-center">
              <span>
                <button type="button" class="btn btn-success" (click)="unProject(project)">Done</button>
              </span>
              <span>
                  <button type="button" class="btn btn-success" [routerLink]="['/Project',project.id,'edit']">Edit</button>
              </span>
              <span>
                  <button type="button" class="btn btn-danger" (click)="onDelete(project.id)">Delete</button>
              </span>

            </td>
            
  
          </tr>
        </tbody>
      </table>
    </div>
  </div>